<div class="container m-5">
  <div class='row'>
    <div class='d-flex justify-content-between'>
      <h1>My Movie Lists</h1>
      <%= link_to 'Create a movie list', new_list_path, class: 'p-2 border rounded-pill shadow-sm text-decoration-none btn btn-light align-item-center'%>
    </div>
  </div>
  <div class='mt-5'>
    <% @lists.each do |list| %>
      <%# <%= image_tag list.photo %>
      <div class="m-3 list card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= list.photo.attached? ? cl_image_path(list.photo.key) : image_path('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU') %>)">
        <h3><%= link_to list.name, list_path(list), class: 'px-5 py-2 border rounded-pill shadow-sm text-decoration-none btn btn-light align-item-center' %></h3>
      </div>
    <% end %>
  </div>
</div>
